.logoutPopup {
  position: absolute;
  top: 40px;
  right: 0;
  background: white;
  padding: 12px 15px;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.15);
  z-index: 1000;
  width: 200px;
  height: 100px;
  animation: fadeSlide 0.2s ease-out;
}

@keyframes fadeSlide {
  from {
    opacity: 0;
    transform: translateY(-6px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.logoutPopup p {
  margin: 0 0 10px;
  color: #444;
  font-size: 14px;
}

.popupButtons {
  display: flex;
  justify-content: space-between;
}

.confirmBtn {
  padding: 5px 8px;
  width: 10;
  background: #ff4d4d;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.cancelBtn {
  padding: 5px 8px;
  background: #ddd;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.navbar {
display: flex;
justify-content: space-between;
  background: linear-gradient(to right, #46235c, #362646);
  color: white;
  padding: 10px 20px;
  position: sticky;
  top: 0;
  z-index: 1000;
  transition: all 0.3s;
  
}
.jsutify{
  display: flex;
  align-items: center;
  justify-content: end;
   gap: 10px;
}

.scrolling {
  background-color: #1f2937;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.logo {
  height: 40px;
}
.loglink{
align-self:flex-start;
}

.navlink {
  margin: 0 10px;
  color: white;
  font-weight: 500;
  text-decoration: none;
}
.nav{
  margin: 0 10px;
  color: rgb(0, 0, 0);
  font-weight: 500;
  text-decoration: none;
  z-index: 9;
  height: 50px;
}
.active{
  color: #d74f0b;
}

.navlink:hover {
  color: #facc15;
}

.carticon {
  font-size: 20px;
  color: white;
  margin-left: 15px;
}

.userBox {
  display: flex;
  align-items: center;
  gap: 8px;
}

.username {
  font-weight: 500;
  color: #fcd34d;
}

.logoutbtn {
  background: none;
  border: 1px solid white;
  color: white;
  padding: 2px 8px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.logoutbtn:hover {
  background-color: red;
  color: white;
}

.carticon {
  color: white;
  font-size: 20px;
  margin-left: 15px;
}

  .cartcount {
    position: absolute;
    top: -5px;
    right: -10px;
    background-color: #facc15;
    color: #111827;
    font-size: 12px;
    font-weight: bold;
    padding: 2px 6px;
    border-radius: 50%;
  }
.input{
  border-radius: 25px;
  padding: 6px;
  font-size: 15px;
  outline: none;
  border: 1px solid lightgray;
}
